<!DOCTYPE html>
<html lang="en">

<head>
	<title>Lányok, Laptopba Fel!</title>
	<meta charset="utf-8" />
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
	<link rel="stylesheet" href="{% static '/css/basic.css' %}" type = "text/css"/>
</head>

<body class="body" id="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
    <header>
      <div class="container-fluid"> <!-- Ezzel kell csinalni valamit, vagy marad igy.. -->
        <table class="table">
        </table>
      </div>
      <div class="container-fluid">

      	<ul class="nav nav-tabs"> <!-- Write your comments here Ez a menu -->
          <li role="presentation" class="active"><a href="/#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
          <li role="presentation"><a href="#">Info</a></li>
          <li role="presentation"><a href="#">About me</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
        </ul>

      </div>
		</header>
        <div class="jumbotron" id="logo"> <!-- Ez a logo -->
					<h2 id="motto">Lányok, Laptopba Fel!</h2>
        </div>

			<div class="col-sm-10" >
						<div class='container-fluid'>
						<br><br>
						   {% block content %}
						   {% endblock %}
						</div>
					  </div>
		</div>



  <footer  class="footer">
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>
</body>


</html>
