{% extends "index/basic.html" %}
{% load staticfiles %}
{% block content %}

<h2>Tematika</h2>
<div class="row"   >
<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="first_javascript">
    <div class="caption">
      <h3> Bevezetés: </h3>
      <ul >
        <li >
          The Internet
        </li>
        <li >
          WWW
        </li>
        <li>
            The Browser
        </li>

        <li>
          Syntax </li>
          <li>
          The 2 Types (Block and Inline)</li>
          <li>    Hierarchy  </li>
          <li>Main HTML elements  </li>
          <li>Formatting</li>
          <li>The structure of the HTML document  </li>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="second_javascript">
    <div class="caption">
      <h3> HTML Alapok:</h3>
      <ul>
        <li>
          Structure
        </li>
        <li>
          Text
        </li>
        <li>
          Inline Semantics and Links
        </li>
        <li>
          Images
        </li>
        <li>
          Tables
        </li>
        <li>
          Forms
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="third_javascript">
    <div class="caption">
      <h3> CSS Alapok:</h3>
      <ul>
        <li>
          What is CSS?
        </li>
        <li>
          Syntax & Selectors
        </li>
        <li>
          Inheritance
        </li>
        <li>
          Color Units & Size Units
        </li>
        <li>
          Reset
        </li>
        <li>
          Font-Family, Font Properties, Font Shorthand
        </li>
        <li>
          Text Properties and Line- Height
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="fourth_javascript">
    <div class="caption">
      <h3> A "Box Model":</h3>
      <ul>
        <li>
          Background
        </li>
        <li>
          Display
        </li>
        <li>
          Height and Width
        </li>
        <li>
          Border
        </li>
        <li>
          Padding
        </li>
        <li>
          Margin
        </li>
        <li>
          Size Shorthand Wheel
        </li>
        <li>
          The Flow between Elements
        </li>
        <li>
          Position
        </li>
        <li>
          Float
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="fifth_javascript">
    <div class="caption">
      <h3> CSS Haladóknak:</h3>
      <ul>
        <li>
          Pseudo-classes
        </li>
        <li>
          Gradients
        </li>
        <li>
          Transitions
        </li>
        <li>
          Animations
        </li>
        <li>
          Transform
        </li>
        <li>
          Responsiveness
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
