{% extends "index/basic.html" %}
{% load staticfiles %}
{% block content %}

<h2>Tematika</h2>
<!--Javascript and Jquery Interactive Web Development-->
<div class="row"   >
<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="first_javascript">
    <div class="caption">
      <h3> Intro: </h3>
      <ul >
        <li >
          Scripting language
        </li>
        <li >
          Objects, Events and Methods
        </li>
          The Browser and DOM
        <li >
            Syntax, Statements, Comments
        </li>
        <li>
          Variables, Data Types
        </li>
        <li>
          Arrays
        </li>
        <li>
          Creating, changing, Naming a Variable
         </li>
          <li>
            Operators</li>

      </ul>
    </div>
  </div>
</div>


<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="second_javascript">
    <div class="caption">
      <h3> Functions, Objects:</h3>
      <ul>
        <li>
          Functions
        </li>
        <li>
          Object
        </li>
        <li>
          Creating an Object: Literal,Constructor
        </li>
        <li>
          Accessing and Updating Objects
        </li>
        <li>
          Built-in objects
        </li>
        <li>
          Browser Object Model
        </li>
        <li>
          Document Object Model
        </li>
        <li>
          Global JavaScript Objects
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="third_javascript">
    <div class="caption">
      <h3> Decisions and Loops:</h3>
      <ul>
        <li>
          Decision making logic
        </li>
        <li>
          Comparison and logical operators
        </li>
        <li>
          If Statements
        </li>
        <li>
          Switch Statements
        </li>
        <li>
          Loops
        </li>
        <li>
          For Loops
        </li>
        <li>
          While Loops
        </li>
        <li>
          Do While Loops
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="fourth_javascript">
    <div class="caption">
      <h3> DOM:</h3>
      <ul>
        <li>
          The DOM Tree
        </li>
        <li>
          Working with the DOM Tree
        </li>
        <li>
          Accessing Elements
        </li>
        <li>
          Nodelist
        </li>
        <li>
          Traversing the DOM
        </li>
        <li>
          Get & Update Elements
        </li>
        <li>
          Cross-Site Scripting Attacks
        </li>
        <li>
          Attribute Nodes
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="fifth_javascript">
    <div class="caption">
      <h3> Events:</h3>
      <ul>
        <li>
          Event Types
        </li>
        <li>
          Traditional Event Handlers
        </li>
        <li>
          Event Listeners
        </li>
        <li>
          Event Flow
        </li>
        <li>
          Event Delegation
        </li>
        <li>
          UI Events
        </li>
        <li>
          Mouse Events & Keyboard Events
        </li>
        <li>
          Form Events
        </li>
        <li>
          Mutation Events
        </li>
        <li>
          Html5 Events
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="sixth_javascript">
    <div class="caption">
      <h3> Jquery I:</h3>
      <ul>
        <li>
          What is Jquery?
        </li>
        <li>
          Finding Elements
        </li>
        <li>
          Doing Things with Elements
        </li>
        <li>
          JQuery Methods that Get and Set Data
        </li>
        <li>
          Looping and Chaining
        </li>
        <li>
          Getting and updating content
        </li>
        <li>
          Getting and setting attributes
        </li>
        <li>
          Getting and setting CSS properties
        </li>
        <li>
          Using .each()
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="seventh_javascript">
    <div class="caption">
      <h3> Jquery II:</h3>
      <ul>
        <li>
          Event Methods
        </li>
        <li>
          The Event Object
        </li>
        <li>
          Delegating Events
        </li>
        <li>
          Effects
        </li>
        <li>
          Traversing the DOM
        </li>
        <li>
          Form Methods and Events
        </li>
        <li>
          Cut, Copy and Paste
        </li>
        <li>
          Box Dimensions
        </li>
        <li>
          Position Of Elements on the Page
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="eighth_javascript">
    <div class="caption">
      <h3> AJAX and JSON:</h3>
      <ul>
        <li>
          What is AJAX and how it works?
        </li>
        <li>
          AJAX requests and responses
        </li>
        <li>
          JSON: javaScript Object Notation
        </li>
        <li>
          Working with JSON Data
        </li>
        <li>
          JQuery and AJAX requests, responses
        </li>
        <li>
          JQuery's AJAX   Shorthand methods
        </li>
        <li>
          Forms with AJAX
        </li>
        <li>
          Loading JSON and handling AJAX Errors
        </li>
        <li>
          Controlling Ajax
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="ninth_javascript">
    <div class="caption">
      <h3> APIS:</h3>
      <ul>
        <li>
          What are the APIs?
        </li>
        <li>
          Html5 JavaScript APIs
        </li>
        <li>
          Geolocation API
        </li>
        <li>
          Webstorage API: Storing Data in Browsers
        </li>
        <li>
          History API and Pushstate
        </li>
        <li>
          Scripts with APIs
        </li>
        <li>
          JQuery UI
        </li>
        <li>
        AngularJS
        </li>
        <li>
            Platform APIs: for ex. Google Maps
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="tenth_javascript">
    <div class="caption">
      <h3> Error Handling and Debugging:</h3>
      <ul>
        <li>
          The Stack: Execution, Scope and Errors
        </li>
        <li>
          Error Objects
        </li>
        <li>
          A Debugging Workflow
        </li>
        <li>
          Browser Dev Tools and JavaScript Console
        </li>
        <li>
          Breakpoints
        </li>
        <li>
          Handling Exceptions
        </li>
        <li>
          Throwing Errors
        </li>
        <li>
        Debugging Tips and Common Errors
        </li>
            </ul>
    </div>
  </div>
</div>


<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="eleventh_javascript">
    <div class="caption">
      <h3> Filtering, Searching and Sorting:</h3>
      <ul>
        <li>
          JavaScript Array Methods
        </li>
        <li>
          Jquery Methods for Filtering and Sorting
        </li>
        <li>
          Filtering
        </li>
        <li>
          Storing References to Objects and DOM Nodes
        </li>
        <li>
          Search
        </li>
        <li>
          Sorting
        </li>
        <li>
          Compare Functions
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="twelfth_javascript">
    <div class="caption">
      <h3> Form Enhancement and Validation:</h3>
      <ul>
        <li>
          The Form Element
        </li>
        <li>
          Form Controls
        </li>
        <li>
          Submitting Forms
        </li>
        <li>
          Checkboxes and Radio Buttons
        </li>
        <li>
          Select Boxes and Textarea
        </li>
        <li>
          Html5 elements and attributes
        </li>
        <li>
          Form Validation
        </li>
        <li>
         Dealing with Errors
        </li>
        <li>
          Regular Expressions
        </li>
            </ul>
    </div>
  </div>
</div>

{% endblock %}
