{% extends "index/basic.html" %}
{% load staticfiles %}
{% block content %}

<h2>Tematika</h2>
<!--Pythonprogramming.net, http://www.python-course.eu/, https://docs.python.org/3/tutorial/-->
<div class="row"   >
<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="first_javascript">
    <div class="caption">
      <h3> Intro: </h3>
      <ul >
        <li >
          Python installation
        </li>
        <li >
          Syntax and intendation
        </li>
        <li >
        Using the Python Interpreter
        </li>
        <li>
        Formatted Output
        </li>
        <li>
        Variables
        </li>
        <li>
          Numbers
        </li>
        <li>
          Strings
        </li>
        <li>
          Sequential Data Types
        </li>
        <li>
          Input from Keyboard
        </li>
        <li>
          Reading, changing, writing files
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="second_javascript">
    <div class="caption">
      <h3> Control Flow:</h3>
      <ul>
        <li>
          Operators and Conditional Statements
        </li>
        <li>
          While loops
        </li>
        <li>
          For loops
        </li>
        <li>
          The range() Function
          </li>
          <li>
            break and continue Statements, and else Clauses on Loops
          </li>
        <li>
           pass Statements
        </li>
        <li>
          If Statement
        </li>
        <li>
          If...elif....else Statement
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="third_javascript">
    <div class="caption">
      <h3> Functions:</h3>
      <ul>
        <li>
          Defining Functions
        </li>
        <li>
          Recursive Functions
        </li>
        <li>
           Keyword Arguments
        </li>
        <li>
          Arbitrary Argument Lists
        </li>
        <li>
          Unpacking Argument Lists
        </li>
        <li>
        Lambda Expressions
        </li>
        <li>
         Documentation Strings
        </li>
        <li>
          Function Annotations
        </li>
        <li>
          Decorators
        </li>
        <li>
          Memoization with Decorators
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="fourth_javascript">
    <div class="caption">
      <h3> Data Structures:</h3>
      <ul>
        <li>
          More on Lists
        </li>
        <li>
          List manipulation
        </li>
        <li>
         Shallow and Deep Copy
         </li>
        <li>
           The del statement
        </li>
        <li>
          Tuples and Sequences
        </li>
        <li>
          Sets
        </li>
        <li>
          Dictionaries
        </li>
        <li>
          Looping Techniques
        </li>
        <li>
          More on Conditions
        </li>
        <li>
          Comparing Sequences and Other Types
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="fifth_javascript">
    <div class="caption">
      <h3> Modules:</h3>
      <ul>
        <li>
          Intro
        </li>
        <li>
          The Module Search Path
        </li>
        <li>
          “Compiled” Python files
        </li>
        <li>
          Standard Modules
        </li>
        <li>
        The dir() Function
        </li>
        <li>
        Packages
        </li>
        <li>
        Importing * From a Package
        </li>
        <li>
         Intra-package References
        </li>
        <li>
         Packages in Multiple Directories
        </li>
            </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="sixth_javascript">
    <div class="caption">
      <h3> Errors and Tests:</h3>
      <ul>
        <li>
          Kinds of Errors
        </li>
        <li>
          Exception Handling
        </li>
        <li>
          Multiple Except Clause
        </li>
        <li>
          Clean-up Actions (try ... finally)
        </li>
        <li>
          Combining try, except and finally
        </li>
        <li>
          Module Tests with __name__
        </li>
        <li>
          doctest Module
        </li>
        <li>
          Test-driven Development (TDD)
        </li>
        <li>
          unittest
        </li>
        <li>
          Methods of the Class TestCase
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="seventh_javascript">
    <div class="caption">
      <h3> Classes:</h3>
      <ul>
        <li>
          Python Scopes and Namespaces
        </li>
        <li>
          Class Definition Syntax
        </li>
        <li>
          Class, Instance, Method Objects
        </li>
        <li>
           Class and Instance Variables
        </li>
        <li>
          Random Remarks
        </li>
        <li>
          Inheritance
        </li>
        <li>
        Public- Protected- and Private Attributes
        </li>
        <li>
          Iterators
        </li>
        <li>
          Generators
        </li>
        <li>
          Generator expressions
        </li>
        </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="eighth_javascript">
    <div class="caption">
      <h3>Attributes & Inheritance:</h3>
      <ul>
        <li>
          Class Attributes
        </li>
        <li>
          Static Methods
        </li>
        <li>
          Class Methods
        </li>
        <li>
        Properties
        </li>
        <li>
          Public instead of Private Attributes
        </li>
        <li>
          Overloading and Overriding
        </li>
        <li>
          Multiple Inheritance
        </li>
        <li>
          super and MRO
        </li>
        <li>
          Polymorphism
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="ninth_javascript">
    <div class="caption">
      <h3> Operators, Classes and Metaclasses:</h3>
      <ul>
        <li>
          Introduction
        </li>
        <li>
          Overview of Magic Methods
        </li>
        <li>
          Standard Classes as Base Classes
        </li>
        <li>
          Avoiding Dynamically Created Attributes
        </li>
        <li>
          Classes and Class Creation
        </li>
        <li>
          Metaclasses:Introduction
        </li>
        <li>
          Defining Metaclasses
        </li>
        <li>
          Creating Singletons using Metaclasses
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="tenth_javascript">
    <div class="caption">
      <h3> Brief Tour of the Standard Library:</h3>
      <ul>
        <li>
        Operating System Interface
        </li>
        <li>
          String Pattern Matching
        </li>
        <li>
          Mathematics
        </li>
        <li>
          Internet Access
        </li>
        <li>
           Dates and Times
        </li>
        <li>
           Data Compression
        </li>
        <li>
         Performance Measurement
        </li>
        <li>
        Quality Control
        </li>
        <li>
          Batteries Included
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-12 col-md-3" >
  <div class="thumbnail" id="eleventh_javascript">
    <div class="caption">
      <h3> 11. Brief Tour of the Standard Library — Part II:</h3>
      <ul>
        <li>
          Output Formatting
        </li>
        <li>
          Templating
        </li>
        <li>
          Working with Binary Data Record Layouts
        </li>
        <li>
          Multi-threading
        </li>
        <li>
        Logging
        </li>
        <li>
          Weak References
        </li>
        <li>
        Tools for Working with Lists
        </li>
        <li>
        Decimal Floating Point Arithmetic
        </li>
            </ul>
    </div>
  </div>
</div>





{% endblock %}
